<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>MoneyMinded | Courses</title>
</head>
<body>
    <div class="load" id="loader">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
    <div class="dashboard-main">
        <div class="header">
            <div class="heading">
                <div class="header-logo">
                </div>
                <h1>
                    MoneyMinded
                </h1>
            </div>
        </div>
        <div class="outer-div">
            <div class="bg"></div>
            <div class="dashboard">
                <div class="courses-heading">
                    Courses 
                </div>
                <div class="menu">
                    <div class="menu-bg"></div>
                    <div class="menu-heading">
                        <h1>
                            Budgeting
                        </h1>
                        <span>
                            Budget smarter, live better!
                        </span>
                    </div>
                    <div>
                        <button class="small-btn">
                            Learn
                        </button>
                    </div>
                </div>
                <div class="menu market-menu">
                    <div class="menu-bg market-menu-bg"></div>
                    <div class="menu-heading">
                        <h1>
                            Investing
                        </h1>
                        <span>
                            Invest in your future!
                        </span>
                    </div>
                    <div>
                        <button class="small-btn">
                            Learn
                        </button>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-bg"></div>
                    <div class="menu-heading">
                        <h1>
                            Saving
                        </h1>
                        <span>
                            Save money and money will save you!
                        </span>
                    </div>
                    <div>
                        <button class="small-btn">
                            Learn
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.addEventListener("load", () => {
            const loader = document.getElementById("loader");
            loader.style.opacity = "0";
            loader.style.visibility = "hidden";
        });

        window.addEventListener('click', (e) => {
            if (e.target.classList.contains('small-btn')) {
                const target = e.target.parentElement.parentElement.children[1].children[0].innerText.toLowerCase()
                window.location.href = `/courses/${target}`
            }
        })
    </script>
</body>
</html>