<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>MoneyMinded | Leaderboard</title>
</head>
<body>
    <div class="load" id="loader">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
    <div class="dashboard-main">
        <div class="header">
            <h1 style="padding-top: 2vw;">
                Leaderboard
            </h1>
        </div>
        <div class="leaderboard">
            <table>
                <thead>
                    <tr>
                      <th colspan="1" class="text-center">#</th>
                      <th colspan="2" class="text-center">Name</th>
                      <th colspan="1" class="text-center">Coins</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < users.length; i++) { %>
                        <tr>
                            <th class="text-center"><%= i+1 %></th>
                            <td colspan="2" class="text-center"><%= users[i].name %></td>
                            <td class="text-center"><%= users[i].coins %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        window.addEventListener("load", () => {
            const loader = document.getElementById("loader");
            loader.style.opacity = "0";
            loader.style.visibility = "hidden";
        });
    </script>
</body>
</html>